/* static/style.css */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}

/* .vertical-screen {
    height: 100vh;
    width: calc(58vh);
    border: black 1px solid;
    display: flex;
    flex-direction: column;
} */

.main-screen {
    width: 100vw;
    height: 632px;
    display: flex;
    flex-direction: column;
}

.bottom-screen {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 342px;
}

.secondary-screen {
    transform: scale(0.7);
    transform-origin: top left;
    width: 100vw;
    height: calc(100% / 0.7);
    display: flex;
    flex-direction: column;
    margin-right: -384px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    padding: 10px 0px;
}

.header h1 {
    color: #352A94;
    font-size: 40px;
    margin: 0;
    text-align: left;
    width: 600px;
}

.hour-rectangle {
    width: 250px;
    height: 80px;
    background-color: black;
    color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 30px;
}

.horizontal-red-line {
    width: 100%;
    height: 10px;
    background-color: red;
}

/* .body {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */

.column {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.column::-webkit-scrollbar {
    display: none;
}

.cell {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #7a8a8e78 3px solid;
}

.cell-left {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.name-rectangle {
    background: #352A94;
    height: 35px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
}

.direction-name {
    color: #1e1853;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.cell-right {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b4e0ea78;
}

.time-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.time-container .minutes {
    background: black;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 208, 0);
    font-size: 72px;
    font-weight: bold;
}

.time-container .on-platform {
    background: black;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 208, 0);
    font-size: 32px;
}

.time-container .seconds {
    font-size: 32px;
    color: #7a8a8e78;
}

.platform-rectangle {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: -500px;
    color: #352A94;
    border: #352A94 2px solid;
    border-radius: 10px;
    margin-right: 10px;
}

.platform-rectangle .text {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: -3px;
    padding: 0px;
}

.platform-rectangle .number {
    font-size: 40px;
    margin-top: -10px;
    font-weight: bold;
}

.horizontal-black-line {
    width: 100%;
    height: 50px;
    background-color: black;
}

.vertical-black-line {
    width: 20px;
    height: 100%;
    background-color: black;
}

.weather-screen {
    width: 363px;
    height: 100%;
    gap: 20px;
    background-image: url('/static/weather_images/day_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    gap: 10px;
}

.current-weather-header {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-weather-header .temperature {
    font-size: 24px;
    font-weight: bold;
    width: 80px;
    text-align: center;
}

.current-weather-header .date {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 5px 10px;
    border-radius: 10px;
}

.current-weather-sunrise {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 16px;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 5px 10px;
    border-radius: 10px;
}

.current-weather-sunrise .suntime {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hourly-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly-scrollbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    overflow-x: auto;
    gap: 2px;
}

.hourly-scrollbar::-webkit-scrollbar {
    display: auto;
}

.hourly-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 12px;

    padding: 8px 8px;
    border-radius: 14px;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* Spinner styles */
/* .spinner {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner svg {
    transform: rotate(-90deg);
}

.spinner-bg {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 8;
}

.spinner-progress {
    fill: none;
    stroke: #352A94;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 251.33;
    stroke-dashoffset: 251.33;
    transition: stroke-dashoffset 1s linear;
}

.spinner-progress.no-transition {
    transition: none;
}

.spinner-text {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    color: #352A94;
} */

/* .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
