<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Prochains RER</title>
    <script defer>
        const directions = {{ directions | tojson | safe }}; // Récupère les quais depuis le backend

        let nextMainRersData = []; // Variable globale pour stocker les rer allant vers Paris
        let nextSecondaryRersData = []; // Variable globale pour stocker les rer allant vers Saint-Germain-en-Laye
        let requestInterval = 10000;
        let lastFetchTime = null;
        let lastProgress = 0;

        function updateCurrentTime() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            document.getElementById('current-time').textContent = `${hours}:${minutes}:${seconds}`;
            
            // Mise à jour du spinner
            /* if (lastFetchTime) {
                const elapsedMs = Date.now() - lastFetchTime;
                const elapsedSeconds = elapsedMs / 1000;
                const progress = Math.min(elapsedSeconds / (requestInterval / 1000), 1);
                
                const spinnerCircle = document.getElementById('spinner-circle');
                const circumference = 2 * Math.PI * 40;
                
                // Détecter le reset (passage de proche de 1 à proche de 0)
                if (progress < 0.1 && lastProgress > 0.9) {
                    // Désactiver la transition pour le reset instantané
                    spinnerCircle.classList.add('no-transition');
                    // Forcer le reflow pour appliquer le changement immédiatement
                    spinnerCircle.offsetHeight;
                    // Mettre l'offset à 251.33 (barre vide)
                    spinnerCircle.style.strokeDashoffset = circumference;
                }
                
                // Mise à jour du cercle de progression
                const offset = circumference * (1 - progress);
                spinnerCircle.style.strokeDashoffset = offset;
                
                // Réactiver la transition après le reset
                if (spinnerCircle.classList.contains('no-transition')) {
                    setTimeout(() => {
                        spinnerCircle.classList.remove('no-transition');
                    }, 50);
                }
                
                // Mise à jour du texte
                document.getElementById('spinner-text').textContent = Math.floor(elapsedSeconds);
                lastProgress = progress;
            } */
        }

        // Fonction pour formater le temps restant en "X min Y sec"
        function formatTimeRemaining(departureTime) {
            const now = new Date();
            const departure = new Date(departureTime);
            const diffMs = Math.max(0, departure - now);
            const diffMinutes = Math.floor(diffMs / 60000);
            const diffSeconds = Math.floor((diffMs % 60000) / 1000);
            return `${String(diffMinutes).padStart(2, '0')}:${String(diffSeconds).padStart(2, '0')}`;
        }

        // Fonction pour retourner le temps restant en minutes et secondes
        function getTimeRemaining(departureTime) {
            const now = new Date();
            const departure = new Date(departureTime);
            const diffMs = Math.max(0, departure - now);
            const diffMinutes = Math.floor(diffMs / 60000);
            const diffSeconds = Math.floor((diffMs % 60000) / 1000);
            return { minutes: String(diffMinutes), seconds: String(diffSeconds).padStart(2, '0') };
        }

        // Fonction pour mettre à jour l'affichage du temps restant
        function updateTimeRemaining(nextRersData, columnId) {
            const now = new Date();
            const list = document.getElementById(columnId);
            firstRer = nextRersData[0];
            // console.log(firstRer.vehicleJourneyName, "Arrival :", firstRer.expectedArrivalTime, now.toISOString(), firstRer.expectedArrivalTime > now.toISOString());
            // console.log(firstRer.vehicleJourneyName, "Departure :", firstRer.expectedDepartureTime, now.toISOString(), firstRer.expectedDepartureTime > now.toISOString());
            
            list.innerHTML = nextRersData.map((rer) => {
                if (rer.expectedArrivalTime > now.toISOString() || rer.expectedDepartureTime > now.toISOString()) {
                    const minutesSeconds = getTimeRemaining(rer.expectedDepartureTime);
                    const isArriving = rer.expectedArrivalTime > now.toISOString();
                    
                    return `
                        <div class="cell">
                            <div class="cell-left">
                                <div class="name-rectangle">
                                    <span>${rer.vehicleJourneyName}</span>
                                </div>
                                <span class="direction-name">${rer.destinationName}</span>
                            </div>
                            <div class="cell-right">
                                <div class="time-container">
                                    <div ${isArriving ? 'class="minutes"' : 'class="on-platform"'} >
                                        <span>${isArriving ? minutesSeconds.minutes : 'à quai'}</span>
                                    </div>
                                    ${isArriving ? `<span class="seconds"> : ${minutesSeconds.seconds}</span>` : ''}
                                </div>
                                <div class="platform-rectangle">
                                    <span class="text">quai</span>
                                    <span class="number">${rer.platform != "unknown" ? rer.platform : "-"}</span>
                                </div>
                            </div>
                        </div>
                    `;
                } else {
                    return ""; // Ne rien afficher si le RER est déjà parti
                }            
            }).join("");
        }

        // Fonction pour récupérer les données de l'API
        function fetchNextRers() {
            console.log("Fetching next RERs...");
            fetch(`/api/next_rers`)
                .then(response => response.json())
                .then(data => {
                    console.log("Data received:", data);
                    nextMainRersData = data.filter(rer => directions["main"].quayRef.includes(rer.quayRef) || directions["main"].directionCodes.includes(rer.destinationCode)); // Filtre les RER allant vers Paris
                    nextSecondaryRersData = data.filter(rer => directions["secondary"].quayRef.includes(rer.quayRef) || directions["secondary"].directionCodes.includes(rer.destinationCode)); // Filtre les RER allant vers Saint-Germain-en-Laye
                    updateTimeRemaining(nextMainRersData, 'main-rer-list'); // Met à jour l'affichage
                });
            lastFetchTime = Date.now();
        }

        // Met à jour l'heure actuelle toutes les secondes
        setInterval(updateCurrentTime, 1000);
        // Met à jour le temps restant toutes les secondes
        setInterval(() => updateTimeRemaining(nextMainRersData, 'main-rer-list'), 1000);
        setInterval(() => updateTimeRemaining(nextSecondaryRersData, 'secondary-rer-list'), 1000);
        
        // Rafraîchit les données de l'API toutes les 10 secondes        
        setInterval(() => fetchNextRers(), requestInterval);

        // Charge les données au démarrage
        window.onload = () => {
            updateCurrentTime();
            fetchNextRers();
            document.getElementById("mainDirection").textContent = directions["main"].directionNames.join(" • ");
            document.getElementById("secondaryDirection").textContent = directions["secondary"].directionNames.join(" • ");
        };
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-screen">
        <div class ="header">
            <div class="left-header">
                <img src="{{ url_for('static', filename='Logo RERA 2.png') }}" alt="Logo RER A" width="180" class="logo">
                <h1 id="mainDirection"></h1>
            </div>
            {# <div id="spinner" class="spinner">
                <svg width="100" height="100" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="40" class="spinner-bg"></circle>
                    <circle cx="50" cy="50" r="40" class="spinner-progress" id="spinner-circle"></circle>
                </svg>
                <div class="spinner-text" id="spinner-text">0</div>
            </div> #}
            <div class="hour-rectangle">
                <span id="current-time"></span>
            </div>
        </div>        

        <div class="horizontal-red-line"></div>
        
        <div class="column" id="main-rer-list">
        </div>

    </div>

    <div class="horizontal-black-line"></div>

    <div class="bottom-screen">
        <div class="secondary-screen">
            <div class="header">
                <div class="left-header">
                    <img src="{{ url_for('static', filename='Logo RERA 2.png') }}" alt="Logo RER A" width="120" class="logo">
                    <h1 id="secondaryDirection"></h1>
                </div>
            </div>

            <div class="horizontal-red-line"></div>

            <div class="column" id="secondary-rer-list"></div>
        </div>

        <div class="vertical-black-line"></div>
        
    </div>
    <!-- <div class="vertical-screen">
        <div class="header">
            <h1>Paris</h1>
            <div class="hour-rectangle">
                <span id="current-time"></span>
            </div>
            <h1>St-Ger</h1>
        </div>

        <div class="horizontal-red-line"></div>

        <div class="body">
            <div class="column" id="main-rer-list">
            </div>
            <div class="vertical-red-line"></div>
            <div class="column" id="secondary-rer-list">
            </div>

        </div>

        <div class="horizontal-red-line"></div>

        <footer class="footer">
            <p id="lastFetchTime">Prochains RER mis à jour toutes les 10 secondes</p>
            <img src="{{ url_for('static', filename='Logo RERA.png') }}" alt="Logo RER A" width="50">

        </footer>
    </div> -->
</body>

</html>
